group = pluginbox
bearerbox-host = localhost
bearerbox-port = 13001
smsbox-port = 13005
smsbox-port-ssl = false
log-file = "/var/log/kannel/kannel-pluginbox.log"
log-level = 0
#ssl-client-certkey-file = ""
#ssl-server-cert-file = ""
#ssl-server-key-file = ""
#ssl-trusted-ca-file = ""
admin-port=13050
admin-password=pluginpw

## Example group for configuring an HTTP plugin
#group=pluginbox-plugin
#path=/opt/kannel/kannel-pluginbox/plugins/pluginbox_http.so
#init="pluginbox_http_init"
#priority=1
#args="/opt/kannel/kannel-pluginbox/contrib/pluginbox_http/pluginbox_http.conf"
#id=http1

group=pluginbox-plugin
path=plugins/pluginbox_example.so
priority=1
id=example1
init="pluginbox_example_init"
